.container {
  max-width: 600px;
}

.scene {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  opacity: 0;
  transition: opacity 0.4s linear;
}

.scene.show {
  opacity: 1;
}

.scene p {
  font-size: 2em;
}

.scene img {
  margin-left: auto;
  margin-right: auto;
}