.container {
  max-width: 800px;
}

.scene {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  opacity: 0;
  transition: opacity 0.4s linear;
}

.scene.show {
  opacity: 1;
}

.scene p {
  font-size: 2em;
}

.scene img {
  margin-left: auto;
  margin-right: auto;
}

.scene .choices {

}

.scene .choices .btn {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
}